FOUNDRY_URL=https://your-foundry-url.palantirfoundry.com
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
ONTOLOGY_RID=your_ontology_rid_here
OBJECT_TYPE=CleanCreditCardTransactions

# Authentication and Roles
ADMIN_EMAIL=admin@example.com
FIREBASE_CREDENTIALS_JSON=
FIREBASE_WEB_API_KEY=
